[Unit]
Description=gunicorn 2-hbnb systemd service.
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/AirBnB_clone_v4/                       b:app -w 3 
User = ubuntu                                                          or.log     
Group =www-data
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app -w 3 --access-logfile /tmp/airbnb-access.log --error-logfile /tmp/airbnb-error.log
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target